table {border: 2px inset purple;
	   border-spacing:5px;
	   background-color:purple}
		   
td, th {border: 1px inset purple;
		background-color:white;
		padding:10px;
		font-family:Palatino, 'Book Antiqua', serif;
		font-size:16pt}
		
div {width:100%;
	 height:700px;
	 overflow:auto;
	 font-size:12pt;
	 text-align:justify}
		 
select {font-family:Palatino, 'Book Antiqua', serif;
		font-size:16pt}
		
button {border-radius:8px;
		padding:10px;
		width:250px;
		font-family:Palatino, 'Book Antiqua', serif;
		font-size:16pt}
		
hr {border-color:purple}
		 
#outer {width:100%}

#inner {height:750px}
	
#navBar {width:15%;
		 background-color:#D463D4}
			 
#content {width:1500px;
		  background-color:#D463D4}
		  
#messages {height:25px;
		   border: 1px inset purple;
		   background-color:white}
		   
#contentArea {padding-right:10px}

#toggleButton {background-color: green;
			   color: white}